<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery-3.6.4.js"></script>
    <script src="https://kit.fontawesome.com/ff0e7d4c8a.js" crossorigin="anonymous"></script>
    <link href="~/Content/style.css" rel="stylesheet" />

</head>
<body>

    <div class="main-wrapper">
        <div class="header">
            <div class="header-left">
                <a href="@Url.Action("Index","Admin")" class="logo" style="text-decoration:none;">
                    @*<img src="~/Content/logo.jpeg" width="75" />*@
                    <img src="~/Content/logo.jpeg" alt="CAS" />Clinic Automation System
                </a>
            </div>

            <ul class="nav user-menu">

                <li class="nav-item">
                    <form class="d-flex" role="search" action="@Url.Action("Logout","Home")">
                        @* @if(User.Identity.IsAuthenticated)  {}  *@
                        <button class="btn btn-outline-success" type="submit">Logout @User.Identity.Name</button>
                    </form>

                </li>
            </ul>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">
                            <span>Main Menu</span>
                        </li>
                        <li class="submenu">
                            <a href="@Url.Action("Index","Admin")"><i class="fa-sharp fa-solid fa-house-chimney-medical"></i> <span> Dashboard</span> </a>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fa-solid fa-user-doctor"></i> <span> Doctor</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="@Url.Action("AddNewDoctor","Admin")">Add New Doctor</a></li>
                                <li><a href="@Url.Action("ListDoctor","Admin")">View all Doctors</a></li>
                                <li><a href="@Url.Action("EditDoctorViewList","Admin")">Edit Doctor</a></li>
                                <li><a href="@Url.Action("UpdateDoctorStatusViewList","Admin")">Update Doctor Status</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fa-solid fa-bed"></i> <span> Patients</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="@Url.Action("AddNewPatient","Admin")">Add new Patient</a></li>
                                <li><a href="@Url.Action("ListPatient","Admin")"> View Patients</a></li>
                                <li><a href="@Url.Action("EditPatientViewList","Admin")">Edit Patient</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fa-solid fa-truck-field"></i> <span> Supplier</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="@Url.Action("AddNewSupplier","Admin")">Add New Supplier</a></li>
                                <li><a href="@Url.Action("ListSupplier","Admin")">View Suppliers</a></li>
                                <li><a href="@Url.Action("EditSupplierViewList","Admin")">Edit Suppliers</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fa-solid fa-universal-access"></i> <span> Salesman</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="@Url.Action("AddNewSalesman","Admin")"> Add new Salesman</a></li>
                                <li><a href="@Url.Action("ListSalesman","Admin")"> View Salesmen </a></li>
                                <li><a href="@Url.Action("EditSalesmanViewList","Admin")"> Edit Salesman</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <script src="~/Scripts/jquery-3.6.4.js"></script>
        <script src="~/Scripts/script.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/jquery-3.6.4.slim.min.js"></script>


        <div class="page-wrapper">
            <div class="content container-fluid">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
