@model IEnumerable<IBM_CAS.Models.SecuritydbModel.Doctor>

@{
    ViewBag.Title = "ListDoctor";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

    <h2>List Doctor</h2>

    <p>
        @Html.ActionLink("Create New", "AddNewDoctor")
    </p>
    <div class="table-responsive">
        <table class="table table-hover table-center">
            <thead class="thead-light">
                <tr>
                    <th class="table-center">
                        Doctor First Name
                    </th>
                    <th class="table-center">
                        Doctor Last Name
                    </th>
                    <th class="table-center">
                        DoctorDescription
                    </th>
                    <th class="table-center">
                        Doctor Email
                    </th>
                    <th class="table-center">
                        Doctor Spec
                    </th>
                    <th class="table-center">
                        Doctor Phone
                    </th>
                    <th class="table-center">
                        Doctor Status
                    </th>
                    <th class="table-center">
                        UserName
                    </th>
                    <th class="table-right">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="table-center">
                            @Html.DisplayFor(modelItem => item.DoctorFirstName)
                        </td>
                        <td class="table-center">
                            @Html.DisplayFor(modelItem => item.DoctorLastName)
                        </td>
                        <td class="table-center">
                            @Html.DisplayFor(modelItem => item.DoctorDescription)
                        </td>
                        <td class="table-center">
                            @Html.DisplayFor(modelItem => item.DoctorEmail)
                        </td>
                        <td class="table-center">
                            @Html.DisplayFor(modelItem => item.DoctorSpec)
                        </td>
                        <td class="table-center">
                            @Html.DisplayFor(modelItem => item.DoctorPhone)
                        </td>
                        <td class="table-center">
                            @Html.DisplayFor(modelItem => item.DoctorStatus)
                        </td>
                        <td class="table-center">
                            @Html.DisplayFor(modelItem => item.User.UserName)
                        </td>
                        <td class="table-right">
                            <form class="d-flex" role="search" action="@Url.Action("EditDoctor", new { id = item.DoctorId })">
                                @* @if(User.Identity.IsAuthenticated)  {}  *@
                                <button class="btn btn-dark" style="margin-bottom:4px;" type="submit">Edit </button>
                            </form>
                            <form class="d-flex" role="search" action="@Url.Action("DoctorDetails", new { id = item.DoctorId })">
                                @* @if(User.Identity.IsAuthenticated)  {}  *@
                                <button class="btn btn-dark" style="margin-bottom:4px;" type="submit">Details </button>
                            </form>
                            <form class="d-flex" role="search" action="@Url.Action("DeleteDoctor", new { id = item.DoctorId })">
                                @* @if(User.Identity.IsAuthenticated)  {}  *@
                                <button class="btn btn-dark" style="margin-bottom:4px;" type="submit">Delete </button>
                            </form>
                            <form class="d-flex" role="search" action="@Url.Action("UpdateDoctorStatus", new { id = item.DoctorId })">
                                @* @if(User.Identity.IsAuthenticated)  {}  *@
                                <button class="btn btn-dark" type="submit">Update Status </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>

