@model IEnumerable<IBM_CAS.Models.SecuritydbModel.Supplier>

@{
    ViewBag.Title = "ListSupplier";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>ListSupplier</h2>

<p>
    @Html.ActionLink("Create New", "AddNewSupplier")
</p>
<div class="table-responsive">
    <table class="table table-hover table-center">
        <thead class="thead-light">

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SupplierFirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SupplierLastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SupplierDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SupplierEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SupplierPhone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User.UserName)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SupplierFirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SupplierLastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SupplierDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SupplierEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SupplierPhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.UserName)
                    </td>
                    <td>
                        <form class="d-flex" role="search" action="@Url.Action("EditSupplier", new { id = item.SupplierId })">
                            @* @if(User.Identity.IsAuthenticated)  {}  *@
                            <button class="btn btn-dark" style="margin-bottom:4px;" type="submit">Edit </button>
                        </form>
                        <form class="d-flex" role="search" action="@Url.Action("SupplierDetails", new { id = item.SupplierId })">
                            @* @if(User.Identity.IsAuthenticated)  {}  *@
                            <button class="btn btn-dark" style="margin-bottom:4px;" type="submit">Details </button>
                        </form>
                        <form class="d-flex" role="search" action="@Url.Action("DeleteSupplier", new { id = item.SupplierId })">
                            @* @if(User.Identity.IsAuthenticated)  {}  *@
                            <button class="btn btn-dark" style="margin-bottom:4px;" type="submit">Delete </button>
                        </form>
                    </td>
                </tr>

            }
        </tbody>

    </table>
